h1 {
    color: lightcoral;
}

.row {
    height: 50px;
}

.lastRow {
    margin-top: 1px;
}

.square {
    display: inline-flex;
    width: 50px;
    height: 50px;
    margin: -2px;
    vertical-align: top;
    font-size: 50px;
}

#squareOne {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#squareThree {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#squareFive {
    border: 1px solid black;
}

#squareSeven {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

#squareNine {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.letter {
    font-size: 40px;
    color: red;
}
